{% extends 'base.html.twig' %}

{% block title %}Liste des Missions{% endblock %}

{% block body %}
    <h1>Liste des Missions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>État</th>
                <th>Idée Associée</th>
                <th>Créé le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.title }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.state }}</td>
                <td>{{ mission.implementIdea ? mission.implementIdea.title : 'N/A' }}</td>
                <td>{{ mission.createdAt ? mission.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_mission_show', {'id': mission.id}) }}">Voir</a>
                    <a href="{{ path('app_mission_edit', {'id': mission.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune mission trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mission_new') }}">Créer une nouvelle mission</a>
{% endblock %}
